{% extends 'base.html' %}

{% block kotak %}
<h1> INI ADALAH LAYANAN YANG KAMI SEDIAKAN</h1>
<table border="1">
    <tr>
        <td>NO</td>
        <td>Nama Barang</td>
        <td>Harga</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Mangga</td>
        <td>Rp.200.000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Pisang</td>
        <td>Rp.100.000</td>
    </tr>
</table>

{% endblock kotak %}