{% extends 'base.html' %}

{% block judul %}
<h1 id="judul">Toko</h1>

{% endblock judul %}

{% block kotak %}
<p>Toko, buah online adalah tempat jual buah buahan secara online</p>

{% endblock kotak %}