<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta hrrp-equiv="X-UA-compatible" contents="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/Toko">Home</a> | <a href="/Tokos">Detil Toko</a>
    {% block judul %}

    {% endblock judul %}
    {% block kotak %}

    {% endblock kotak %}
</body>
</html>